/******************/
/* GENERAL REUSABLE COMPONENT */
/******************/

strong {
  font-weight: 500;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  /* margin-bottom: 9.6rem; */
}
/* .grid:last-child {
  margin-bottom: 0;
} */
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--center-vertically {
  align-items: center;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;

  margin-bottom: 3.2rem;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.05;

  margin-bottom: 9.6rem;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;

  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  margin-top: 9.6rem;
  letter-spacing: 9px;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #e67e22;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  border-radius: 9px;
  color: white;
  font-weight: 600;

  transition: all 0.3s;
  border: none;
  cursor: pointer;
}
.btn--outline:link,
.btn--outline:visited {
  background-color: white;
  color: #333;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  color: #333;
  box-shadow: inset 0 0 0 3px rgb(255, 255, 255);
}

.btn--form {
  background-color: #2e1907;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}
.btn--form:hover {
  background-color: #fdf2e9;
  color: #2e1907;
}

.btn--full:link,
.btn--full:link:visited {
  color: white;
  background-color: #e67e22;
}
.btn--full:hover,
.btn--full:link:active {
  color: white;
  background-color: #cf711f;
}
.link:link,
.link:visited {
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  transition-property: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;

  gap: 1.6rem;
}
.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
  margin-left: 5rem;
}
.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem hsla(28, 80%, 52%, 0.6);
}
.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(252, 241, 232, 0.6);
}

/* HELPER CLASSES */
.margin-right-sm {
  margin-right: 1.6rem !important;
}
.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}
.center-text {
  text-align: center;
}
